<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCkcBFnw0KBfNC5g1zg6NOSIOwSo4wyrho</string>
	<key>GCM_SENDER_ID</key>
	<string>264584022798</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-a36e1</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-a36e1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:264584022798:ios:e09e5f2c08f939c2ebe55f</string>
</dict>
</plist>